@use "./components/App/vars" as *;
@use "./components/App/mixins" as m;
:root {
  font-family: $main-font;
  box-sizing: border-box;
  ::-webkit-scrollbar {
    display: none;
  }
}
body {
  margin: 0;
  height: 100vh;
}

.link_header_a {
  display: block;
  padding: 0.5rem 2rem;
  text-decoration: none;
  border: 0.1rem solid #0000;
  font-size: 1rem;
  font-weight: 700;
  color: $primary-color-text;
}
.link_header_a.open {
  color: $sort-off;
  opacity: 1;
  transition: color 1s ease 0.5s;
}
