@use '../App/mixins' as m;
@use '../App/vars' as *;

.entity_container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1% auto 1%;

  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 16px;
  font-size: 16px;
  .entity_section,
  .separator,
  .section {
    grid-column: 2;
  }

  .sort_group_btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      @include m.box-shadow-card;
    }
  }

  &__button {
    @include m.flex-center;
    border-radius: 4px;
    border: none;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3),
      0 6px 10px 4px rgba(0, 0, 0, 0.15);
    user-select: none;
    grid-column: 2;
    padding: 0.5rem 2em;
    color: $primary-color-text;
    background: $absolute-white;
    font-size: 1.2rem;
    margin: 2rem auto;
    font-weight: 600;
  }
}
.entity_section {
  @include m.flex-center;
  @include m.box-shadow-card;
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem 0.2rem;
  box-sizing: border-box;
  border-radius: 16px;
  h2,
  h3 {
    margin: 0;
    text-align: center;
  }
  h2 {
    color: $primary-color-text;
  }
  h3 {
    color: $main-second-color-company-semi;
  }
}
.entity_section__max-height {
  max-height: 600px;
  overflow: hidden;
}
.section {
  display: flex;
  width: 90%;
  margin: 0.5em auto;
  &__center {
    @include m.flex-center-horizontal;
  }
  &__space-between {
    justify-content: space-between;
  }
}
.separator {
  width: 80%;
  height: 3px;
  margin: 1em auto;
}
// .section__hidden {
//   max-height: 0;
//   transition: max-height 0.8s linear;
// }
// .section__visible {
//   max-height: 200px;
//   height: auto;
//   transition: max-height 1s linear;
// }

.entity_volumes_list {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  li {
    padding: 0.5rem 1rem;
  }
  details summary {
    display: grid;

    list-style-type: none;
    cursor: pointer;
    position: relative;
  }

  .summary_with_volume {
    grid-template-columns: 1fr min-content;
  }
  .summary_with_design {
    grid-template-columns: min-content 1fr min-content;
    gap: 1%;
  }
  summary {
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.2rem;
    border-bottom: 2px solid $main-first-color-company;
    .btn_round_wrapper {
      height: auto;
      display: flex;
      align-items: center;
    }
  }

  details p {
    margin: 0 auto;
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
  }
  details p:last-child {
    border-bottom: 1px dotted $main-first-color-company;
  }
}
@media (max-width: 696px) {
  .entity_container {
    font-size: 14px;
    .entity_section {
      width: 95%;
    }
  }
  .entity_volumes_list {
    .entity_full_name {
      height: 33px;
      display: flex;
      align-items: center;
    }
    details summary {
      grid-template-columns: 1fr 0.9fr;
    }
    summary {
      font-size: 1.1rem;
    }
    details p {
      align-items: center;
      font-size: 0.8rem;
      padding: 0.5rem 0.2rem;
      box-sizing: border-box;
    }
  }
}
@media (max-width: 512px) {
  .entity_volumes_list summary {
    font-size: 0.9rem;
  }
}
