@use "../App/vars" as *;
@use "../App/mixins" as m;
@use "sass:math";

.burger_btn {
  width: $bar-w;
  height: calc((#{$bar-w}* 3) / 4);
  margin-left: calc(-#{$bar-w} / 2);
  margin-top: calc(-#{$bar-w} / 2);
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  b {
    position: absolute;
    left: 0;
    color: $primary-color-text;
    width: $bar-w;
    height: $bar-h;
    background-color: $primary-color-text;
    &:nth-child(1) {
      top: 0%;
    }
    &:nth-child(2) {
      top: 50%;
    }
    &:nth-child(3) {
      top: 100%;
    }
  }
}

.active {
  @include m.rotateZ(
    "rotate-135",
    (
      transform: rotate(135deg),
    ),
    800ms,
    ease,
    500ms
  );
  b {
    background-color: $sort-off;
    @include m.transition-background-color(1s);
    &:nth-child(1) {
      @include m.moving(
        "swing-down",
        (
          top: 0,
        ),
        (
          top: 50%,
        ),
        200ms,
        0ms,
        cubic-bezier(0.4, 0, 0.2, 1)
      );
    }
    &:nth-child(3) {
      @include m.moving(
        "swing-up",
        (
          top: 100%,
        ),
        (
          top: 50%,
        ),
        200ms,
        cubic-bezier(0.4, 0, 0.2, 1)
      );
      @include m.rotateZ(
        "rotate-90",
        (
          transform: rotate(90deg),
        ),
        800ms,
        500ms,
        cubic-bezier(0.4, 0, 0.2, 1)
      );

      & {
        animation-name: swing-up, rotate-90;
        animation-duration: 200ms, 800ms;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1),
          cubic-bezier(0.4, 0, 0.2, 1);
        animation-delay: 0ms, 500ms;
        animation-fill-mode: forwards;
      }
    }
  }
}
.shut {
  transform: rotate(135deg);
  @include m.rotate-reverseZ(
    "reverse-b",
    (
      transform: rotate(360deg),
    ),
    800ms,
    0ms,
    ease
  );
  b {
    &:nth-child(1) {
      top: 50%;
      @include m.moving(
        $name: "swing-revers-up",
        $start: (
          top: 50%,
        ),
        $end: (
          top: 0,
        ),
        $duration: 200ms,
        $delay: 800ms,
        $timing: ease
      );
    }
    &:nth-child(3) {
      top: 50%;
      transform: rotate(90deg);
      @include m.rotate-reverseZ(
        "reverse-0",
        (
          transform: rotate(0deg),
        ),
        800ms,
        0ms,
        ease
      );
      @include m.moving(
        $name: "swing-revers-down",
        $start: (
          top: 50%,
        ),
        $end: (
          top: 100%,
        ),
        $duration: 200ms,
        $delay: 800ms,
        $timing: ease
      );

      & {
        animation-name: reverse-0, swing-revers-down;
        animation-duration: 800ms, 200ms;
        animation-delay: 0ms, 800ms;
        animation-fill-mode: forwards;
      }
    }
  }
}
