@import url('https://fonts.cdnfonts.com/css/poppins');
$max-width-viewport: 1180px;
// $absolute-white: #ffffff;
$absolute-white: #fffbfe;
$absolute-white-card-light: rgba(103, 80, 164, 0.05);
$main-font: 'Poppins', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// $primary-color-text: #6750a4;
$primary-color-text: #21005d;
// $secondary-color-text: #625b71;
$secondary-color-text: #1d192b;
$color-by-burger-menu: rgba(103, 80, 164, 1);

$main-first-color-company: #00679c;
$main-second-color-company: #009e6e;
$main-second-color-company-semi: rgba(#009e6e, 0.6);

$sort-on: #6750a4;

$light-bg: #eaddff;
// $dark-container:
$dark-section: #232329;
$dark-30: #474752;
$dark-bg: #070708;

$dark-link: #1c1c21;

$grey-50: #797c86;
$grey-70: #afb0b6;

$red-error-40: #b3261e;
$green-ok: #00c800;

$bar-w: 1.5em;
$bar-h: 0.15em;
