@import url("https://fonts.cdnfonts.com/css/poppins");
$max-width-viewport: 1180px;
// $background: #ffffff;
$background: #fffbfe;
$background-card-light: rgba(103, 80, 164, 0.05);
$main-font: "Poppins", sans-serif;
$secondary-font: "Roboto", sans-serif;

// $primary-color-text: #6750a4;
$primary-color-text: #21005d;
// $secondary-color-text: #625b71;
$secondary-color-text: #1d192b;

$main-first-color-company: #00679c;
$main-second-color-company: #009e6e;
$main-second-color-company-semi: rgba(#009e6e, 0.6);

$sort-on: #6750a4;
$sort-off: #eaddff;

$red-error-40: #b3261e;
$green-ok: #00c800;
