@use "../App/vars" as *;
.summary_wrapper {
  display: flex;
  box-sizing: border-box;
  position: relative;
  justify-content: space-between;

  @media (max-width: 512px) {
    justify-content: flex-end;
  }
}
.entity_volume_name {
  display: flex;
  align-items: center;
  color: $primary-color-text;
  // white-space: nowrap;
}
.nowrap {
  white-space: nowrap;
  margin-right: 1%;
  // flex-shrink: 1;
}
.long {
  font-size: 0.8em;
  overflow: hidden;
  width: 100%;
}
.entity_volume_value {
  display: block;
  color: $secondary-color-text;
  white-space: nowrap;
}
.entity_volume_wrapper {
  // width: 100%;
  font-size: 0.88em;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5%;
  justify-content: center;
  align-items: center;
}
.entity_full_name {
  max-width: 60%;
  height: 29px;
}
@media (max-width: 696px) {
  .entity_volume_name {
    overflow: hidden;
    z-index: 0;
  }
  .entity_volume_value {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    overflow: visible;
    z-index: 10;
  }
}
