@use '../App/vars' as *;
.summary_wrapper {
  display: flex;
  box-sizing: border-box;
}
.entity_volume_name {
  color: $primary-color-text;
  white-space: nowrap;
}
.entity_volume_value {
  display: block;
  color: $secondary-color-text;
  white-space: nowrap;
}
.entity_full_name {
  max-width: 60%;
  height: 29px;
  overflow: hidden; /* Обрезка текста */
  text-overflow: ellipsis; /* Добавление многоточия */
  white-space: nowrap; /* Запрет переноса текста */
}
@media (max-width: 696px) {
  .entity_volume_name {
    white-space: nowrap;
    overflow: hidden;
    z-index: 0;
  }
  .entity_volume_value {
    flex-shrink: 0;
    overflow: visible;
    z-index: 10;
  }
}
