@use '../App/vars' as *;
@use '../App/mixins' as m;
$transition-duration: 1s;
$transition-delay: 0.05s;
.burger_menu_container {
  @include m.flex-center;
  position: fixed; // Лучше fixed для модальных меню
  top: 0;
  right: 0;
  left: 0; // Занимает весь экран
  display: flex;
  background-color: $color-by-burger-menu;
  overflow: visible;
  transform-origin: top right;
  clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
  border-bottom-left-radius: 34px;
  border-bottom-right-radius: 34px;

  .nav_refs {
    padding: 1em 2em;
  }
  p {
    width: 100%;
    color: white;
  }
}

// Для использования clip-path анимации
.burger_menu_container.open {
  animation: openMenu $transition-duration cubic-bezier(0.25, 0.1, 0.25, 1)
    forwards;
  transform: none;
}
.burger_menu_container.close {
  animation: closeMenu $transition-duration cubic-bezier(0.25, 0.1, 0.25, 1)
    forwards;
  transform: none;
}
// Альтернативная анимация через ключевые кадры (если нужно)
@keyframes openMenu {
  0% {
    clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
    opacity: 0;
    border-bottom-left-radius: 34px;
    border-bottom-right-radius: 34px;
  }

  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}
@keyframes closeMenu {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
    opacity: 0;
  }
}
